# Chess

Fast & universal chesslibrary with Basic AI support

## API

ES6/Typescript

```
import { Chessboard, Positions } from "@chesslib/core";

var board = Chessboard.fromPosition(Positions.default);

// Get all possible moves
var moves = board.getFENMoves();
if(chess.tryMoveFEN(moves[0].from, moves[0].to))
{
	console.log("Move was valid");
}
```

## GAME STATE
This chess library does not include moves that prevent the king moving into check, it is up to you to implement what chess logic you wish to use.
Winning & Losing checks are also up to you to implement.